.header {
  position: fixed;
  height: 75px;
  width: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header .container .logo {
      color: #fff; }
    .header .container .menu__ul__item {
      display: inline-block;
      padding: 0 15px; }
      .header .container .menu__ul__item .menu__ul__item__link {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase; }
        .header .container .menu__ul__item .menu__ul__item__link:hover {
          color: #E8A11A; }

.header-div-support {
  height: 75px; }
